出席を入力する<br>

日にち候補<br>
<%= form_tag({ action: 'update' }, { method: :patch }) do %>
  <table>
    <thead>
      <tr>
        <th class="id">予定日</th>
        <th class="delete">◯</th>
        <th class="delete">△</th>
        <th class="delete">×</th>
      </tr>
    </thead>
      <tbody>
        表示名<br>
        <% text_field_tag :user_name, class: "form-basic" %>
        <% @host_plans_dates.each do |host_plans_date| %>
        <tr>
          <td>
            <%= host_plans_date.host_nominated_day %>

          <ul>
            <li class="form-item">
              <div class="form-right">
                <%= select_tag :join_status, options_for_select(Schedule::JOIN_STATUS_HASH.invert), class: 'form-basic' %>
              </div>
            </li>
          </ul>
         <% end %>
        </td>
        </tr>
      </tbody>
  </table>

    コメント<br><%= text_field_tag :user_comment %>
  <div><%= submit_tag "確認する" , class: "btn-basic" %></div>
  <% end %>
